html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
  vertical-align: baseline; 
  font-family: inherit; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  border: 0; 
  } 
/* remember to define focus styles! */ 
:focus { 
  outline: 0; 
  } 
body { 
  background: white; 
  line-height: 1; 
  color: black; 
  } 
ol, ul { 
  list-style: none; 
  } 
/* tables still need cellspacing="0" in the markup */ 
table { 
  border-collapse: separate; 
  border-spacing: 0; 
  } 
caption, th, td { 
  font-weight: normal; 
  text-align: left; 
  } 
/* remove possible quote marks (") from <q> & <blockquote> */ 
blockquote:before, blockquote:after, q:before, q:after { 
  content: ""; 
  } 
blockquote, q { 
  quotes: "" ""; 
  } 

#header {
width: 100%;
background-color: #f1f1f1;
text-align: center;
}
#header h1 {
font-size: 50px;
}
#month {
width: 100%;
}
.week {
width: 100%;
margin-left: -1px;
}
.day {
color: #aaa;
text-align:center;
font-size: 25px;
display: inline-block;
width: 14.3%;
margin-right: -4px;
height: 110px;
}
#zero {
color: #ddd;
background-color: #ededed;
}
#d1 {
background-color: #FFBCBC;}
#d2 {
background-color: #F3BCFF;}
#d3 {
background-color: #BCC4FF;}
#d4 {
background-color: #BCFDFF;}
#d5 {
background-color: #BEFFBC;}
#d6 {
background-color: #F2FFBC;}
#d7 {
background-color: #FFD2BC;}
.day:hover{
color: #000;
}
#d1:hover{
background-color: #FF5F5F;
}
#d2:hover{
background-color: #FF5FDD;
}
#d3:hover{
background-color: #945FFF;
}
#d4:hover{
background-color: #5FF0FF;
}
#d5:hover{
background-color: #5FFF87;
}
#d6:hover{
background-color: #D2FF5F;
}
#d7:hover {
background-color: #FF945F;
}
.day p{
    margin-top: 30px;
}
.add {
    text-align: left;
    margin-left: 10px;
}
.show {
    margin-left: 10px;
}
#bot {
    height: 250px;
}
.note{
    background-image: url(images/bg.jpg);
}
input {
    margin-top: 100px;
}
.days {
    display: inline-block;
}
#weekday {
    height: 50px;
}
#weekday:hover{
    color: #aaa;
}